html
head
style.

  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
  }


  input[type=submit] {
    width: 20%;
    padding: 14px 20px;
    border-radius: 4px;
  }

body
  div.header Cloud Run on Anthos
  p
  div.card
    p.
      Add the text you want to see displayed in the boxes application.
    form(action="https://announce-service-zffqyqpura-uc.a.run.app/?message" method="get" target="_blank")
      label Message to display: <input type="text" name="message"><br>
      p
      input(type='submit', value='Submit')
